.Header {
    background: #531a69;
    color: white;
    padding: 10px;
}

.List {
    background: white;
}

.Item {
    display: flex;
    height: 30px;
    padding: 10px 10px 20px 20px;
    text-align: left;
}

.HeartGray {
    color: gray;
    margin: 4px;
}

.HeadphoneGray {
    color: gray;
    margin: 4px;
}

.HeartRed {
    color: red;
    margin: 4px;
}

.HeadphoneGreen {
    color: green;
    margin: 4px;
}

.Singer {
    font-weight: bold;
}

.Title {
    font-size: 12px;
}

.Right {
    margin-left: auto;
    display: flex;
}
